# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Start_Menu.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\Unity_Projects\Unity_2019_4_16f1\Start_Menu\.idea\.idea.Start_Menu\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
